<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <!-- Add your head content here -->
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login Page</title>
    <link rel="stylesheet" type="text/css" th:href="@{/css/styles.css}">
</head>
<body>

<!-- Login Form Section -->
<div class="container">
    <h2>Giriş Yap</h2>
    <!-- Display login error message, if any <div th:if="${param.error}">
        <p class="error-message">Geçersiz kullanıcı adı veya şifre!</p>
    </div> -->
    <div th:if="${message != null}" class="message">
        [[${message}]]
    </div>

    <form th:action="@{/loginCustomer}" method="post" th:object="${login}">
        <div class="input-group">
            <label for="username">Kullanıcı Adı</label>
            <input type="text" id="username" name="username" th:field="*{username}" required>
        </div>
        <div class="input-group">
            <label for="password">Şifre</label>
            <input type="password" id="password" name="password" th:field="*{password}" required>
        </div>
        <button type="submit" class="btn">Giriş Yap</button>
    </form>

    <!-- Display login response, if available -->
    <!--<div th:if="${response != null}">
        <p th:text="${response.jwt}"></p>-->
        <!-- You can extract and display other information from the loginResponse if needed -->
    </div>
</div>

</body>
</html>