<!DOCTYPE html>
<html lang="en"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Üyelik Sayfası</title>
  <link rel="stylesheet" type="text/css" th:href="@{/css/styles.css}" >
</head>
<body>

<div class="container">
  <h2>Üye Ol</h2>

  <div th:if="${message != null}" class="message">
    [[${message}]]
  </div>

  <form

          th:action="@{/registerCustomerPage}"
          method="post"
          role="form"
          th:object="${customer}"
  >
    <div class="input-group">
      <label for="firstName">İsim</label>
      <input th:field="*{firstName}" type="text" id="firstName" name="firstName" required>
    </div>
    <div class="input-group">
      <label for="lastName">Soyisim</label>
      <input th:field="*{lastName}" type="text" id="lastName" name="lastName" required>
    </div>
    <div class="input-group">
      <label for="email">Email</label>
      <input th:field="*{email}" type="text" id="email" name="email" required>
    </div>

    <div class="input-group">
      <label for="username">Kullanıcı Adı</label>
      <input th:field="*{username}" type="text" id="username" name="username" required>
    </div>

    <div class="input-group">
      <label for="password">Şifre</label>
      <input th:field="*{password}" type="password" id="password" name="password" required>
    </div>

    <div class="input-group">
      <label for="cellPhoneNumber">Cep Telefonu</label>
      <input th:field="*{cellPhoneNumber}" type="text" id="cellPhoneNumber" name="cellPhoneNumber" required>
    </div>

    <div class="input-group">
      <label for="homePhoneNumber">Ev Telefonu</label>
      <input th:field="*{homePhoneNumber}" type="text" id="homePhoneNumber" name="homePhoneNumber" required>
    </div>
    <button type="submit" class="btn">Üye Ol</button>
    <!--<input type="reset" value="Reset" />-->
    <span>Zaten üyeliğiniz var mı? <a href="/" th:href="@{/loginOptions}">Giriş
                        yap</a></span>
    <span style="display: block; margin-top: 20px;"><a th:href="@{/home}" class="back-link">Ana Sayfa'ya dön</a></span>
  </form>
</div>
</body>
</html>